<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{Course.name }} By
      <small>{{Course.name }}</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" [src]="Course.image" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Course Description</h3>
        <p>{{Course.description }}</p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li><strong>Course Author:</strong> {{Course.author }}</li>
          <li><strong>Course price:</strong> {{Course.price }}$</li>
          <li><strong> duration:</strong> {{Course.duration }}</li>
          <li><strong> ratings:</strong> {{Course.ratings }}</li>
          <li><strong> Type: {{Course.type }}</strong> </li>
        </ul>
      </div>
  
    </div>
  
  
  </div>
  <!-- /.container -->
  