<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Courses</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">IT & Computing Courses </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Health, Safety & Environmental </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Construction Plant </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Street Works and Highways </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Human Resources </a>
      </li>
    </ul>
  </div>
</nav>
