<p>provider-dashboard works!</p>


<button (click)="logout()"class="btn btn-primary">
     logout
</button>


<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>ID</strong> {{ currentUser.id }}
      </h3>
    </header>
    <p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <p>
    <strong>Roles:</strong>
    {{ currentUser.role }}

    </p>
    <p>
        <strong>name:</strong>
        {{ currentUser.name }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <p>
        <strong>address:</strong>
        {{ currentUser.address}}
      </p>
      <p>
        <strong>Center Name:</strong>
        {{ currentUser.center_name }}
      </p>
  </div>
  
<h5>//////////////////////////////////////////</h5>
  <ng-container *ngFor="let course of courseData">
    <!-- courseCountRadioButton === 'All' || courseCountRadioButton === course.type -->
    <div
      class="course-container"    >
      <div class="course-card">
        <div>
          <img [src]="course.image" style="width: 220px; height: 140px" />
        </div>
        <div class="course-name">
          <h4>{{ course.name }}</h4>
        </div>
        <div class="course-description">
          <p>{{ course.description.slice(0, 80) }}...</p>
        </div>
        <div class="details">
          <div
            class="course-type"
            [ngStyle]="{ color: course.type === 'Free' ? 'Green' : 'Red' }"
          >
            {{ course.type }}
          </div>
          <div class="course-price"><b>Price:</b> ${{ course.price }}</div>
        </div>
        <div class="course-buttons">
          <button class="btn btn-buy"   (click)="deleteCourse(course.id)">
            DELETE
          </button>
          <button
            class="btn btn-show"
            [routerLink]="['/update-course', course.id]"
          >
            Update          </button>
        </div>
      </div>
    </div>
/////////////////
  </ng-container>
  


  <ng-template #loggedOut>
    Please login.
  </ng-template>
